:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --adress-color: rgba(255, 255, 255, 0.6);
  --background-basic: #ffffff;
  --background-secondary: #2f303a;
  --background-button: #f5f4fa;
  --button-hover-color: #188ce8;
}
.link {
  text-decoration: none;
  color: var(--text-color);
}
.list {
  list-style: none;
}
body {
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: var(--background-basic);
}
/* Логотип шапки и подвала */
.logo {
  color: #000000;
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.2;
}
.color-logo {
  color: var(--accent-color);
}
.color-logo-footer {
  color: var(--background-basic);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.2;
}
/* навигация */
.nav-list .current {
  color: var(--accent-color);
}
.nav-link {
  color: var(--title-color);
}
.nav-link,
.contacts-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-link:hover,
.nav-link:hover,
.contacts-link:focus,
.nav-link:focus {
  color: var(--accent-color);
}

.hero {
  background: var(--background-secondary);
}
.hero-title {
  color: var(--background-basic);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .button:hover,
.hero .button:focus {
  background: var(--button-hover-color);
}
.button {
  color: var(--background-basic);
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.features-subtitle {
  color: var(--title-color);
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  line-height: 1.7;
}
/* Чем мы занимаемся */
.title {
  color: var(--title-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-color);
}
/* Наша команда */
.team {
  background: var(--background-button);
}
.team-list {
  background: var(--background-basic);
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
/* Подвал */
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.address .link {
  color: var(--adress-color);
}
.address .address-nav {
  color: var(--background-basic);
}

.address .link:hover,
.address .link:focus,
.address .address-nav:hover,
.address .address-nav:focus {
  color: var(--accent-color);
}
.footer {
  background: var(--background-secondary);
}
/* страница портфолио */

/* кнопки фильтра */
.filters .button {
  color: var(--title-color);
  background: var(--background-button);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}
.filters .button:hover,
.filters .button:focus,
.filters .button:active {
  color: var(--background-basic);
  background: var(--accent-color);
}

/* разделы портфолио*/
.portfolio .portfolio-title {
  color: var(--title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .portfolio-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
}
